*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color:rebeccapurple;
}

body {
  background-color: #c0b1c7;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.my-styles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color:#4611a8;
  margin-bottom: 10px;
}

.my-styles > h2, h3{
  color:#fff;
}


.search-params label {
  display: block;
  width: 60px;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button,
#modal button,
.details button {
  background-color: #4611a8;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #141414 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.search-params button:hover {
  background-color: #141414;
}

.search-params button:active {
  background-color: #6b0ea8;
}
